@font-face {
    font-family: Nino;
    src: url(/font/bpg_nino_mtavruli_bold.ttf);
}
a {
    text-decoration: none;
}

.sub-nav {
    background-color: #383a34;
    z-index: 1;
    opacity: 0.8;
    border-bottom: 1px solid #6a6a6a;
}

.lang, .menu {
    a{
        font-family: Nino;
        font-size: 15px;
        color: #fff;
        line-height: initial;
        display: inline-block;
        padding: 15px 0px 11px ;
        &:not(.lang a) {
            padding: 15px 13px 11px ;
        }
    }
}
.dropdown-toggle::after {
    display: none;
}
.nav-link {
    font-family: Nino;
    font-size: 17px;
    color: #6b6b6b;
    img{
    margin-right:12px ;
    }
}
.nav-item:first-child {
img{
    position: relative;
    top: -8px;
    right: -9px;
}
}
.navbar {
    z-index: 1;
    top:44px;
}
.dog {
    top:-3px
}
.cat {
    margin-bottom: 3px;
}
.fish {
    margin-top: 1px;
}















@import 'respons.scss';